.App {
    display: flex;
    justify-content: center;
    background-color: darkgray;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

@media only screen and (max-width: 1137px) {
    .App {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}